<nav class="navbar navbar-expand-md navbar-dark bg-dark" aria-label="Fourth navbar example">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Expand at md</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample04"
                aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExample04">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url "index" %}">Anasayfa</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url "aboutus" %}">Biz Kimiz?</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/news/search">Haberler</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/author">Yazarlar</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/blog">Yazar Blogları</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdown04" data-bs-toggle="dropdown"
                       aria-expanded="false">Diğerleri</a>
                    <ul class="dropdown-menu" aria-labelledby="dropdown04">
                        <li><a class="dropdown-item" href="/contact-us">İletişim</a></li>
                        <li><a class="dropdown-item" href="/hotline">İhbar Hattı</a></li>
                    </ul>
                </li>
            </ul>


            {% if request.user.is_authenticated %}
                <div class="text-secondary">


                    Merhaba {{ request.user.username }}

                </div>

            {% endif %}

            <ul class="navbar-nav me-auto mb-2 mb-md-0">



                 {% if request.user.is_authenticated == False %}
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/author/login">Giriş Yap</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'author:author.register' %}">Kaydol</a>
          </li>
          {% endif %}

               {% if request.user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'author:author.logout' %}">Çıkış Yap</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/author/profile">Profil</a>
          </li>
            {% endif %}






            </ul>


            <form method="get" action="/news/search">
                <input id="q" name="q" class="form-control" type="text" placeholder="Search" aria-label="Search">
            </form>
        </div>
    </div>
</nav>
