{% extends "../layout.html" %}
{% block body %}
<main class="container-lg mt-3">
    <h3> Haber Ekleme Sayfası </h3>
 {% if request.user.is_authenticated %}
      <div class="text-secondary">
              Merhaba {{ request.user.username }}
      </div>

      {% endif %}
 <hr class="featurette-divider">
<a class="btn btn-secondary" href="/news/add">Haber Ekle</a>
<a class="btn btn-secondary" href="/news/list">Haber Listele</a>
 <hr class="featurette-divider">
  <form method="post"  enctype="multipart/form-data">
    {% csrf_token %}
      {{ form.media}}
    {{ form.as_p }}

        <button type="submit" class="btn btn-primary">Gönder</button>
    </form>
</main>
{% endblock body %}