{% extends "layout.html" %}

{% block body %}
    <main class="container-lg mt-3">


        <div class="container">
            <form action="/news/search" method="get">
                <div class="row">
                    <div class="col-12 col-md-4">
                        <label for="q" class="form-label">Aranacak Kelimeler:</label>
                        <input id="q" name="q" type="text" class="form-control">
                    </div>
                    <div class="col-12 col-md-4">
                        <label for="q" class="form-label">Haber Kategorisi:</label>
                        <select id="cid" name="cid" class="form-select">
                            <option value="0">Bütün Kategoriler</option>
                            {% for cat in categories %}
                                <option value="{{ cat.id }}">{{ cat.title }}</option>
                            {% endfor %}

                        </select>
                    </div>
                    <div class="col-12 col-md-4"><br>
                        <button type="submit" class="btn btn-info">Ara</button>
                    </div>

                </div>
            </form>

        </div>

        <hr class="featurette-divider">

        <div class="row">
            <div class="col-9">
                {% if news %}
                    {% for news in news.object_list %}
                        <div class="row">
                            <div class="col-3">
                                <img src="../files/{{ news.image_address|cut:'.jpg'|add:"_400x400.jpg" }}"
                                     class="img-fluid rounded"/>
                            </div>
                            <div class="col-9">
                                <h4 class="h4">{{ news.title }}</h4>
                                <hr class="featurette-divider">
                                <span>{{ news.desc | truncatewords_html:10 }} ...</span> |
                                <span>{{ news.created_date }}</span>

                            </div>
                        </div>
                        <hr class="featurette-divider">
                    {% endfor %}
                {% else %}
                    <span class="text-danger">Arama sonucunda kayır bulunamamıştır.</span>
                {% endif %}
            </div>
            <div class="col-3">
                <h3>Son Haberler</h3>
                <hr class="featurette-divider">
            </div>

        </div>
<!--sayfalama-->
        <div class="pagination">
    <span class="step-links">
        {% if news.has_previous %}
            <a href="?p={{ news.previous_page_number }}&q={{ q }}&cid={{ cid }}">Önceki</a>
        {% endif %}

        <span class="current">
          {{ news.number }}
        </span>

        {% if news.has_next %}
            <a href="?p={{ news.next_page_number }}&q={{ q }}&cid={{ cid }}">Sonraki</a>
        {% endif %}
    </span>
        </div>


    </main>

{% endblock body %}