{% extends "layout.html" %}

{% block body %}
<main class="container-lg mt-3">
    <h3> İçerik Test </h3>
 <hr class="featurette-divider">

{% for item in listem %}
    <ul>

    {% if item|length > 1 %}

        {% for i in item %}
            <ul>
                <li>{{ i }}</li>
            </ul>
        {% endfor %}
    {% else %}
        <li>{{ item }}</li>
    {% endif %}
    </ul>
{% endfor %}
 <hr class="featurette-divider">
    {{ yazar1.ad }}
 <hr class="featurette-divider">
</main>

{% endblock body %}